$pale-yellow: #EBDA8C;
$mid-yellow:  #E3C13C;
$dark-yellow: #D2A613;
$dark-orange: #CA6D15;

$logo-font:   Papyrus, fantasy ;
$header-font: "American Typewriter" Times serif;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: $pale-yellow;
}

header {
    #logo {font-family: $logo-font; }
    background: $mid-yellow;
}

h1 , h2, h3, h4, p {font-family: $logo-font; }

nav li {
    font-family: $logo-font;
    /* background: $pale-yellow; */
}

nav {
    background: $pale-yellow;
}

nav a {
    text-decoration: none;
}

nav li a:visited, nav a:link, nav a:active {
    color: #000000;
    text-decoration: none;
}

nav li infobutton {
    cursor: pointer;
}
a img {
    outline: 4px solid black;
    margin: 1%;
}

.content {
    text-align: center;
    margin-top: 2%;
    clear: both;
}
