$mid-orange:  #CCA758;

body {
    background: $mid-orange;
}

header {
    width: 100%;
    background: url(../images/Saigon.jpg) no-repeat center center;
    background-size: 100%;
    padding-top: 15%;
    outline: 3px solid black;
}

nav ul li {
    display: inline;
    margin-right: 2%;
}

body {
    margin: 0px;
}

nav {
    background: none;
}

nav ul {
    margin-top: -24px;
    margin-top: -2%;
    padding-left: 2%;
}

nav ul a {
    text-decoration: none;
}

nav ul a:visited, nav ul a:link, nav ul a:active {
    color: #000000;
    text-decoration: none;
}

header #logo {
    display: none;
    }
