<section class="content">
  <h1>Sharing</h1>
  <p>
    You can share these pictures online as long as they are unmodified and linked back to soulflyer photos and the divecentre. If you use the facebook share button on the page this will be taken care of automatically. Otherwise please tag or link us when you share
    If you want to use them in a commercial product, please <a href=mailto:photo-request@soulflyer.co.uk>get in touch</a> first.

  </p>

  <h1>Downloading</h1>
  </p>
  Click the download link and you can get access to a zip file containing medium size versions of all the pics on the page. Larger versions are available by clicking on the individual pictures.
  </p>

  <h1>Hi-Res Copies</h1>
  <p><a href=mailto:photo-request@soulflyer.co.uk>get in touch</a> if you need higher resolution copies. This is really not worth it for online use. Most sites will automatically resize them back down to a smaller size, so all you will do is increase upload times. However if you want large prints this may be worth while.
  </p>

  <h1>Editing</h1>
  <p>please <a href=mailto:photo-request@soulflyer.co.uk>get in touch</a> if you want to edit the pictures for other uses.
  </p>
</section>
