<section class="content">
  <div class="block-text-left">
    <img src="http://soulflyer.co.uk/photos/medium/2013/04/12-Rain/IMG_4318-Version2.jpg">
    <div class="left-col">
      <h1>Staff Information</h1>
      <h2>How it works</h2>
      <p>If customers want photos then I will follow their dive group for one dive.
        It is not possible to guarantee results for more than 1 group per dive,
        so the price is per group diving together.
        If People that are booking together are not diving together
        then they will need to book me to cover more than one dive.
        The second (and third) can be discounted. Details down the page.
      </p>
      <p>
        I will try to get shots of the customers entering the water,
        demonstrating skills, exploring and observing some of the creatures.
        CESA and safety stops are often good photo ops.
        I can usually get some good portraits on the surface at the end of a dive.
      </p>
      <h2>Guidelines</h2>
      <ul>
        <li>
          Please give me plenty warning before you get in the water
          so I can be ready to catch some entry shots.
        </li>
        <li>
          During the dive you can continue as you would if I was not there.
          I'm self reliant trained, so if we lose contact do not stop to look for me.
          Your focus is your students or customers.
        </li>
        <li>
          Don't forget to look at the camera occasionally but otherwise, ignore me.
        </li>
        <li>
          Bear in mind the no interference rules.
          It's good to get pictures with the wildlife but that doesn't mean handling it,
          or stressing it out in any way.
        </li>
        <li>
          Don't be in too much of a rush to get out of the water.
          Divers are usually happy at the end of a dive, and I can often get great shots then.
          These are good for advertising. Smiling diver, {{divecentre}} boat in the background...
        </li>
        <li>
          Although I will not normally assist with new divers in the water
          (because to do so means I cannot take photos)
          I am fully trained and can help out in an an emergency.
          Once the camera is safely stowed, I'm happy to assist with things like CESA line recovery.
        </li>
      </ul>
    </div>
  </div>
  <div class="block-text-right">
    <img src="http://soulflyer.co.uk/photos/medium/2014/07/11-No-Customers/DIW_7279-2.jpg">
    <div class="right-col">
      <h2>Benefits</h2>
      <p>
        Firstly you get a commission.
        This is currently <strong>{{commission}}%</strong> of the photo selling price.
      </p>
      <p>
        Secondly you are probably going to get some good pictures out of this,
        although you may need to be a little patient.
        Although I try to get the customer pics sorted by the next day,
        sometimes when I'm busy I will skip the staff pics.
        Remind me if you haven't seen anything within a week.
      </p>
      <h2>Selling</h2>
      <p>
        The full price is currently <strong>${{price}}</strong>.
        If I am not already booked that day then ask for the full price.
        Make sure you phone me to confirm I am available that day.
        I'm on: <strong>{{phone}}</strong>
      </p>
      <p>
        If I am already booked on the boat that day then you can offer a discounted price if you like.
        I would suggest <strong>${{discountPrice}}</strong>.
        If you are on the boat and selling to customers there and I'm not fully booked,
        then you can discount even further, down to <strong>${{lowestPrice}}</strong>.
      </p>
      <p>
        If you are booking a group that will be diving with more than one guide/instructor
        you can offer the full discount for the second dive.
      </p>
      <p>
        If you need to show customers some sample of shots they are likely to get,
        take a look at <a href=http://soulflyer.co.uk/albums>albums</a>.
        This is the page they will go to to collect their pictures.
        If you enter <strong>sample</strong> you will see a collection of shots from previous customers.
        You can also enter <strong>snorkelling</strong> if you have snorkellers interested in photos.
        Remember: Don't promise any particular shot. Some of them are dependent on diver experience,
        some are dependent on water conditions and some are dependant on blind luck.
        I do however have a good success rate, even if the conditions are poor.
      </p>
      <p>
        There are more details about the shots customers can expect at
        <a href="http://soulflyer.co.uk/divephotos/sample/">divephotos/sample</a> and
        <a href ="http://soulflyer.co.uk/divephotos/snorkelling>snorkelling">snorkelling</a> too.
      </p>
    </div>
  </div>
  <div class="block-text-left">
    <img src="http://soulflyer.co.uk/photos/medium/2014/05/26-Lucy-Electric/DIW_5808.jpg">
    <div class=left-col">
      <h2>Use of Pictures</h2>
      <p>
        You get basically the same conditions as the customers.
        You can share them online wherever you like as long as they:
      </p>
      <ul>
        <li>
          have a link to <strong>Soulflyer Photos</strong> (either the web site or the facebook group if you are sharing on facebook
        </li>
        <li>
          have a link to <strong>{{divecentre}} divers</strong> (web site or facebook group)
        </li>
        <li>
          are not edited (including cropping). <a href=mailto:photo-request@soulflyer.co.uk>get in touch</a> if you want to edit.
          I'm probably going to say yes, but ask anyway.
        </li>
      </ul>

      <p>
        If you use the facebook share button on this site,
        then this will be taken care of automatically.
        Other wise please make sure you tag or mention both of us.
      </p>
    </div>
  </div>
</section>
